
@import 'sass/helpers/variables';
@import 'sass/helpers/mixins';
@import 'sass/layout/grid';


@import 'sass/layout/header';
@import 'sass/pages/homepage';
@import 'sass/pages/about';
@import 'sass/components/buttons';
@import 'sass/components/headings';
@import 'sass/layout/footer';
@import 'sass/pages/services';
@import 'sass/pages/events';
@import 'sass/pages/gallery';
@import 'sass/pages/blog';
@import 'sass/pages/contact';
@import 'sass/pages/training-programs';
@import 'sass/pages/why-us';
@import 'sass/pages/courses';
@import 'sass/pages/globalpage';