.main-button {
    background-color: rgba($redColor, .8);
    color: $whiteColor;
    border: none;
    padding: 10px 15px;
    text-align: center;
    min-width: 120px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        background-color: $redColor
    }
}

.the-toggler{
    background-color: $redColor;
    border: none;
    padding: 8px;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 15px;
    display: none;
    @media #{$maxMobile} {
        display: block;
    }
    span{
        display: block;
        width: 50px;
        height: 4px;
        background-color: #FFF;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

//Fixed Button
.fixed-button {
    position: fixed;
    bottom: 10px;
    right: 15px;
    background-color: $blueColor;
    color: #FFF;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 37px;
    cursor: pointer;
    display: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    z-index: 999;

    &:hover{
        background-color: #000;
    }
    i{
        animation: 1s ease 0s normal none infinite running pulse;
    }
}


.same-button{
    
    .slider-more{
        font-size: 20px;
        padding: 4px 10px;
        width: 150px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        margin: 10px 0;
        display: inline-block;
        font-weight: bold;
        border-radius: 15px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        color: #fff;
        position: relative;
        border: none;
        cursor: pointer;
        -webkit-box-shadow: 0 0 9px 0px #959090; 
        box-shadow: 0 0 9px 0px #959090;
        background-color: $blueColor;
        @media(max-width: 350px){
            width: auto;
            height: auto;
            font-size: 13px;
            padding: 3px 20px;
            font-weight: normal;
        }
        &:hover{
            -webkit-box-shadow: 0 0 9px 0px #959090;
            -moz-box-shadow: 0 0 9px 0px #959090;
            box-shadow: 0 0 9px 0px #959090;
            background-color: #639363;
        }
       
    }
    i{
        background-color: #fff;
        color: #6aa7d3;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 39px;
        text-align: center;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        top: -1%;
        left: 78%;
        -webkit-box-shadow: 0 0 9px 0px #959090;
        -moz-box-shadow: 0 0 9px 0px #959090;
        box-shadow: 0 0 9px 0px #959090;
    }//i
}//same-button