$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";


$redColor: #4a4ae2;
$blueColor: #9fc588;
$greenColor:#698433;
$greyColor: #9c9c9c;
$whiteColor: #fbfbfb;

$float-left: left;
$float-right: right;

$text-right: right;
$text-left: left;
