/*Start Header*/
.header {
    -webkit-box-shadow: 4px 2px 5px 1px #f3f0f0;
    -moz-box-shadow: 4px 2px 5px 1px #f3f0f0;
    box-shadow: 4px 2px 5px 1px #f3f0f0;
    background: #FFF;
  }
  .header .navbar {
    padding: 0;
  }
  @media (max-width: 575px) {
    .header .navbar {
      padding: .5rem 1rem;
    }
  }
  @media (max-width: 575px) {
    .header .img-logo {
      padding: 0 5px;
    }
  }
  .header .img-logo img {
    width: 50%;
    height: 69px;
    padding: 10px 0px;
    object-fit: contain;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .header .img-logo img {
      width: 100%;
      height: 71px;
      padding: 5px 0px;
    }
  }
  .header .navbar-toggler {
    outline: none;
    cursor: pointer;
  }
  @media (max-width: 575px) {
    .header .navbar-toggler {
      float: right;
      margin-top: -55px;
    }
  }
  .header .nav-item {
    margin: 0 5px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .header .nav-item {
      margin: 0 1px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .header .nav-item {
      margin: 0 1px;
    }
  }
  .header .nav-item .dropdown-menu {
    border: none;
  }
  .header .nav-item .active {
    background-color: #9fc588;
    color: #fff !important;
  }
  .header .nav-item .nav-link {
    color: #000;
    font-weight: bold;
    border: 3px solid transparent;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  @media (max-width: 575px) {
    .header .nav-item .nav-link {
      padding: 10px 15px;
      margin: 10px 0;
    }
  }
  .header .navbar-nav {
    margin: auto;
  }
  .header .navbar-nav .nav-link {
    text-align: center;
    padding: 20px 5px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .header .navbar-nav .nav-link {
      padding: 20px 2px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .header .navbar-nav .nav-link {
      padding: 22px 3px;
      font-size: 14px;
    }
  }
  .header .navbar-nav .nav-link:hover {
    background-color: #9fc588;
    color: #fff;
  }
  .header .navbar-nav .dropdown-toggle:after {
    display: none;
  }
  .header .navbar-nav .dropdown-menu {
    margin-top: 1px;
  }
  @media (max-width: 575px) {
    .header .navbar-nav .dropdown-menu .dropdown-item {
      text-align: center;
      padding: 10px 10px;
      font-weight: bold;
    }
  }
  .header .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #9fc588 !important;
    color: #fff !important;
  }
  
  /*header*/