/*Start Light Slider*/
.light-slider {
    padding-top: 0px;
    padding-bottom: 100px;
    position: relative;
    background-color: #fdfdfd;
    background: url(../imgs/background-website/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width: 575px){
        text-align: center;
    }//media

    .about-head{
        width: 55%;
        margin: 20px auto;
        @media(max-width: 575px){
            width: 100%;
            font-size: 15px;
        }//media
    }//about-head

    .about-prag{
        width: 55%;
        margin: 15px auto;
        @media(max-width: 575px){
            width: 100%;
        }//media
    }//about-prag

    #lightSlider{height: auto !important}
     
    .content-slider{
        height: 265px;
    }//content-slider

    /*.lSSlideOuter .lSPager.lSpg > li a{display: none;}*/   
    .lSSlideOuter .lSPager.lSpg > li a{height: 4px; width: 15px; background-color: #ccc}

    .lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
        background-color: $blueColor;
        
    }
    .lSSlideOuter .lSPager.lSpg > li.active a{width: 25px;}
    
}//light-slider

/*End Light Slider*/

.our-gallery-section{

    .background-patient{
        background-color: #FFF;
        margin-top: 40px;
        //-webkit-box-shadow: 0 0 9px 0px #959090;
        //-moz-box-shadow: 0 0 9px 0px #959090;
        //box-shadow: 0 0 9px 0px #959090;
        @media(max-width: 575px){
            background: #FFF;
        }//media

        .img-box{
            width: 600px;
            margin: auto;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                -webkit-box-shadow: 0 0 9px 0px #959090;
                -moz-box-shadow: 0 0 9px 0px #959090;
                box-shadow: 0 0 9px 0px #959090;
            }//img
        }//img-box


        .fa-chevron-down{
            position: absolute;
            bottom: 80px;
            right: 277px;
            background: $blueColor;
            padding: 10px;
            color: #FFF;
            font-size: 22px;
            @media(min-width: 992px) and (max-width: 1199px){
                
            }//media
            @media(min-width: 768px) and (max-width: 991px){
                right: 230px;
            }//media
            @media(max-width: 575px){
                right: 149px;
            }//media
            @media(max-width: 350px){
                right: 121px;
            }//media
        }

        .fa-chevron-up{
            position: absolute;
            top: 130px;
            right: 277px;
            background: $blueColor;
            padding: 10px;
            color: #FFF;
            font-size: 22px;
            @media(min-width: 992px) and (max-width: 1199px){
               
            }//media
            @media(min-width: 768px) and (max-width: 991px){
                right: 230px;
            }
            @media(max-width: 575px){
                right: 149px;
            }//media
            @media(max-width: 350px){
                right: 121px;
            }//media
        }//fa-chevron-up

        .lSPager{
           @media(min-width: 992px){
                visibility: hidden;
           }
        }
    }//background-patient

}//our-gallery-section


/*Start Our Mission*/
.our-mission{
    background: url(../imgs/background-website/2.png);
    min-height: 520px;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 50%, 100% 100%, 0 90%);
    clip-path: polygon(0 0%, 100% 0, 100% 50%, 100% 100%, 0 90%);
    @media(min-width: 768px) and (max-width: 991px){
        -webkit-clip-path: polygon(0 0%, 100% 0, 100% 50%, 100% 92%, 0 85%);
        clip-path: polygon(0 0%, 100% 0, 100% 50%, 100% 92%, 0 85%);
        
    }//media
    @media (max-width: 991px){
        height: auto;
    }//media
    @media(max-width: 575px){
        -webkit-clip-path: polygon(0 0%, 100% 0, 100% 50%, 100% 97%, 0 87%);
        clip-path: polygon(0 0%, 100% 0, 100% 50%, 100% 97%, 0 87%);
    }//media
  
    h3,p{
        color: #fff;
    }//h3
    p{
        @media(max-width: 575px){
            margin-bottom: 50px;
        }//media
    }//p
    
}//our-Mission
/*End Our Mission*/

/*Start Our Vision*/
.our-vision{
    background: url(../imgs/background-website/4.png);
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -52px;
    @media(max-width: 575px){
        margin-top: 0;
        margin-bottom: 20px;
    }//media

    p{
        max-width: 83%;
        margin: auto;
    }//p
    
}//our-vision
/*End Our Vision*/

/*Start Our Values*/
.our-values{
    background: url(../imgs/Doctors/tickets.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    position: relative;
    z-index: 1;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 50%, 100% 100%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 50%, 100% 100%, 0 100%);
    //height: 400px;
    @media(max-width: 575px){
        min-height: 840px;
    }//media
    h2{
        color: #fff;
        font-weight: bold;
        @media(max-width: 575px){
            padding-top: 70px;
            padding-bottom: 0;
        }//media
    }//h2
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.64);
        z-index: 2;
    }
    .value-box{
        .img-box{
            width: 110px;
            height: 90px;
            margin: 20px auto;
            img{
                width: 100%;
                height: 100%;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                &:hover{
                    background: rgba(255, 255, 255, 0.49);
                    border-radius: 5% 5% 5% 5%;
                }
            }//img
        }//img-box
        .content-values{
            h5,p{
                color: #fff;
            }
          
        }//content-values
    }//value-box
}//our-values
/*End Our Values*/




.products .product:hover span{
    color: #FFF;
}

.product .description:not(.first-desc) {
	padding: 10px;
	display: none
}