/* Start Contact Us Section */
.contact-us-section{
    background-color: #fdfdfd;
    //clip-path: polygon(0 10%, 100% 0, 100% 50%, 100% 100%, 0 82%);

        padding-top: 50px;
        margin: 0 100px;
        @media(max-width: 991px){
            margin: 0;
        }//media
        @media(max-width: 575px){
            text-align: center;
        }//media

        .contact-box{
            padding: 40px;
            .img-box{
                width: 400px;
                height: 400px;
                @media(min-width: 768px) and (max-width: 991px){
                    width: 280px;
                    height: 280px;
                }//media
                @media(max-width: 575px){
                    width: 100%;
                    height: auto;
                }//media
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }//img
            }//img-box


            .contact-form{
                
                form{
                    .form-control{
                        border: none;
                        background: transparent;
                        border-bottom: 1px solid #cacaca;
                        border-radius: 0;
                        color: #aaa;
                        font-weight: bold;
                        margin: 15px 10px;
                        padding: 5px 0;
                        &::placeholder{
                            color: #aaa;
                        }
                    }//form-control
    
                    label{
                        padding: 10px;
                        color: #aaa;
                        font-weight: bold;
                    }
    
                    textarea{
                        width: 100%;
                        background: transparent;
                        border-radius: 15px;
                        resize: none;
                        min-height: 120px;
                        padding: 5px 10px;
                        color: #aaa;
                        margin: 0 5px;
                        border-color: #aaa;
                        &:focus{
                            outline: none;
                        }//focus
                    }//textarea

                    .same-button{
                        padding-top: 20px;
                        button{
                            border: none;
                            cursor: pointer;
                            outline: none;
                            &:hover{
                                box-shadow: 1px 1px 5px 2px #b0aaaa;
                            }//hover
                        }//button
                    }//same-button
    
                }//form 
            }//contact-form


        }//contact-box

    .contact-maps{
        padding-top: 40px;
        .location{
            width: 70%;
            height: 400px;
            border-radius: 20px;
            border: 1px solid transparent;
            overflow: hidden;
            margin: auto;
        }//location
    }//contact-maps


   

}//contact-us-section
/* End Contact Us Section */