.courses-section{
    background-color: #fdfdfd;
    .course-box{
        width: 100%;
        height: auto;
        margin:  auto;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 2px 1px 20px 0px #EEE;
        background-color: #fff;
        @media(max-width: 575px){
           text-align: center;
        }//media

        .head-course{
            padding: 40px;
            padding-bottom: 50px;
            border-bottom: 2px solid #f2f2f2;
            @media(max-width: 575px){
                padding: 30px;
            }//media
            .heading{
              float: left;
                @media(max-width: 575px){
                    float: none;
                }//media
            }//heading
            .selection{
                float: right;
                @media(max-width: 575px){
                    float: none;
                }//media
                .main-select{
                    width: 300px;
                    position: relative;
                    @media(max-width: 575px){
                        width: auto;
                        margin-top: 30px;
                    }//media
                    select{
                        width: 100%;
                        border-radius: 10px;
                        margin: -5px 0;
                        position: relative;
                        -webkit-appearance: none;
                        background: transparent;
                        option{
                            background-color: rgba(218, 213, 213, 0.26);
                            cursor: pointer;
                        }//option
                    }//select
            
                    select{cursor: pointer;}
            
                    select:focus {
                         outline: none; 
                         border-color: #eee;
                        }
            
                    .special-select{
                       
                     
                       
                    }//special-select
                    .special-fa{
                       
                    }//special-fa
            
                    .fa-chevron-down {
                        position: absolute;
                        top: 6px;
                        right: 15px;
                      }//fa-chevron-down
            
                }//main-select
            }//selection
        }//head-course

        .main-courses{
            padding: 20px;
            .img-box{
                width: 100%;
                height: 250px;
                border-radius: 20px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }//img
            }//img-box

            .content-course{
                @media(min-width: 768px) and (max-width: 991px){
                    padding-top: 10px;
                }//media
                @media(max-width: 575px){
                    padding-top: 20px;
                    padding-bottom: 0px;
                }//media
                a{
                    text-decoration: none;
                    color: #000;
                .head{
                    line-height: 25px;
                    span{
                        color: #716f71 !important;
                        font-size: 16px;
                    }//span
                }//head
                }//a
                .prag{
    
                }//prag
                .second-p{
                    font-weight: bold;
                    span{
                        font-weight: normal;
                        padding: 0 5px;
                    }//span
                }//second-p
            }//content-course

        }//main-courses

    }//course-box
}//courses-section