.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: #9fc588   
}

.form-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #fff;
}
@media(min-width: 768px) and (max-width: 1199px){
    .form-wrapper{
        width: 80%;
    }
}
@media(max-width: 575px) {
    .wrapper {
        padding: 0px 10px;
    }
    .form-wrapper {
        width: 100%;
    }
}

form {
    width: 100%;
    /*
    display: flex;
    */
    flex-wrap: wrap;
}

h1{
    text-align: center;
    color: #111;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

label {
    font-size: 0.8em;
    margin-botttom:0.25em;
    color: #222;
    font-weight: lighter;
}

input {
    padding:  10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #9fc588 ;
}

input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
}

input.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.75;
    position: relative;
}

.firstName {
    margin-right: 1%;
}
.lastName {
    margin-left: 1%
}

.firstName,
.lastName,
.email,
.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/*
.firstName,
.lastName {
   

}
*/

.createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createAccount button {
    background-color: #519e8a;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.createAccount button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid #519e8a;
}

.createAccount small {
    color: #999;
    font-weight: lighter;
}