/* Start Slider */
.slider {
    clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0 88%);
  }
  .slider .carousel-indicators {
    bottom: 40px;
  }
  @media (max-width: 575px) {
    .slider .carousel-indicators {
      bottom: 25px;
    }
  }
  
  @media (max-width: 667px) {
    .first-slider {
      padding-bottom: 0px;
    }
  }
  .first-slider .carousel-item {
    height: 587px;
  }
  .first-slider .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 767px) {
    .first-slider .carousel-item {
      height: 320px;
    }
  }
  @media (max-width: 767px) {
    .first-slider .carousel-item {
      height: 365px;
    }
  }
  .first-slider .carousel-indicators li {
    width: 15px;
    height: 15px;
    background-color: #f2f2f2;
    border-radius: 30px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .first-slider .carousel-indicators .active {
    background-color: #639363 !important;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .first-slider .carousel-inner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  .first-slider .carousel-inner .content-slider {
    position: absolute;
    z-index: 3;
    color: #fbfbfb;
    top: 25%;
    width: 100%;
  }
  @media (max-width: 575px) {
    .first-slider .carousel-inner .content-slider {
      top: 40px;
    }
  }
  .first-slider .carousel-inner .content-slider .header-box {
    text-align: center;
    border: 1px solid #FFF;
    width: 650px;
    min-height: 200px;
    margin: auto;
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
  }
  @media (max-width: 575px) {
    .first-slider .carousel-inner .content-slider .header-box {
      width: 325px;
    }
  }
  @media (max-width: 350px) {
    .first-slider .carousel-inner .content-slider .header-box {
      width: 290px;
      padding: 10px 0;
    }
  }
  .first-slider .carousel-inner .content-slider .header-box h4 {
    padding-top: 20px;
    color: #000;
    font-weight: bold;
    max-height: 100px;
    overflow: hidden;
  }
  @media (max-width: 575px) {
    .first-slider .carousel-inner .content-slider .header-box h4 {
      font-size: 17px;
      padding: 5px 25px;
      margin-top: 20px;
      max-height: 78px;
    }
  }
  @media (max-width: 350px) {
    .first-slider .carousel-inner .content-slider .header-box h4 {
      padding: 0 25px;
      margin-top: 10px;
      max-height: 74px;
    }
  }
  .first-slider .carousel-inner .content-slider .header-box p {
    color: #202020;
    padding: 5px 45px;
    margin-bottom: 5px;
    font-weight: bold;
    max-height: 85px;
    overflow: hidden;
  }
  @media (max-width: 575px) {
    .first-slider .carousel-inner .content-slider .header-box p {
      padding: 0px 20px;
    }
  }
  .first-slider .carousel-inner .content-slider .header-box .same-button .slider-more {
    color: #fff !important;
  }
  .first-slider .indicator-number li {
    color: #fff;
    position: relative;
    font-weight: bold;
    left: -62px;
  }
  .first-slider .indicator-number li:hover {
    color: #000;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .first-slider .indicator-number li {
      left: -20px;
    }
  }
  @media (max-width: 991px) {
    .first-slider .indicator-number li {
      display: none;
    }
  }
  .first-slider .indicator-number li:before {
    content: '';
    height: 2px;
    background: #fff;
    margin: 0px 10px 4px 0px;
    position: absolute;
    top: 26px;
  }
  .first-slider .chevron {
    width: 50px;
    height: 50px;
    color: #6aa7d3;
    line-height: 51px;
    text-align: center;
    background: transparent;
  }
  @media (max-width: 575px) {
    .first-slider .chevron {
      width: 35px;
      height: 35px;
      line-height: 36px;
    }
  }
  .first-slider .chevron .fa-chevron-left {
    transform: none;
  }
  .first-slider .chevron .fa-chevron-left, .first-slider .chevron .fa-chevron-right {
    display: none;
  }
  .first-slider .carousel-control-prev,
  .first-slider .carousel-control-next {
    z-index: 3;
  }
  @media (max-width: 991px) {
    .first-slider .slider .carousel-inner .second-head {
      width: 57%;
    }
  }
  @media (max-width: 767px) {
    .first-slider .slider .carousel-inner .first-head {
      font-size: 30px;
    }
    .first-slider .slider .carousel-inner .second-head {
      width: 83%;
      font-size: 18px;
    }
    .first-slider .slider .carousel-inner .first-prag {
      max-width: 73%;
    }
  }
  @media (max-width: 575px) {
    .first-slider .slider .carousel-inner .first-head {
      font-size: 25px;
    }
    .first-slider .slider .carousel-inner .second-head {
      font-size: 15px;
    }
  }
  @media (max-width: 350px) {
    .first-slider .slider .carousel-inner .second-head {
      font-size: 13px;
    }
    .first-slider .slider .carousel-inner .slider-more {
      font-size: 16px;
    }
    .first-slider .carousel-control-prev,
    .first-slider .carousel-control-next {
      top: 0% !important;
    }
  }
  
  /* End Slider */